* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    padding: 5px;
}

.navbar {
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    background-color: lightgrey;
}

#searchbar {
    width: 40%;
    border: 3px solid black
}

.card {
    border: 3px solid black;
    padding: 10px;
    display: flex;
}

.btn {
    border: 3px black solid;
    box-shadow: 3px 3px black;
    padding: 5px 10px;
}

.flex_1 {
    flex: 1;
}

.flex_3{
    flex: 3;
}

main {
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
    align-content: space-between;
}

#add_definition_card {
    flex-direction: column;
    font-size: 20pt;
    align-self: baseline;
}

li.definition{
    margin-bottom: 15px;
}

ul.dictionary {
    margin-bottom: 15px;
    margin-right: 15px;
    list-style-type: none;
}

div.card_left {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-between;
}

div.card_right {
    display: flex;
    align-items: center;
    justify-items: center;
}

#login {
    color: white;
    background-color: cornflowerblue;
}

.likes_button {
    color: black;
    background-color: goldenrod;
    display: flex;
    width: 70%;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.counter {
    margin: 0px 4px;
}

#add_definition {
    color: black;
    background-color: olivedrab;
    margin-top: 10px;
}

p.definition_word {
    font-size: 25pt;
}